<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<BODY TEXT="#fff" LINK="#1FOOFF" VLINK= "#000000" ALINK="#000000" BGCOLOR="#000">
			<nav>
	    		<ul>
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:thomasxcarney@gmail.com">email</a></li>
	        		<li><a href="https://giugnox.github.io/">giugnox.github.io/</a></li>
				</ul>
			</footer>
		</body>
	</html>
